@model HappyDogShop2.Models.User

@{
    ViewBag.Title = "editPassword";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div style=" border-style: double; border-radius: 8px; border-color: #f7e6cf; padding: 30px; margin: 50px;" class="sawibox form-horizontal">
    <h4>Zmień hasło:</h4>
    <hr style="height: 1px; background-color: #e43e86; color: #e43e86" />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @* @Html.HiddenFor(model => model.UserId) *@
    
    <div class="form-group">
        @Html.Label("Stare hasło", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label("Nowe hasło", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password)
            @* @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" }) *@
        </div>
    </div>
            
    <div class="form-group">
        @Html.Label("Powtórz hasło", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password)
            @* @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" }) *@
        </div>
    </div>
    
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" style="margin-left: 215px; border-color: #e43e86"/>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Wróć", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}