@using System.Collections
@using HappyDogShop2.Models
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin: 50px auto">
                        <hr style="height: 1px; background-color: #e43e86; color: #e43e86" />
                        <div style="display: flex; justify-content: center;  background-blend-mode: hard-light;  margin: 0 auto; text-align: center; font-size: x-large; color:  #e43e86;">
                            @* <div style="border-color: #1b6d85" class="sawibox"> *@
                            @RenderSection("sales")

                        </div>
       <hr style="height: 1px; background-color: #e43e86; color: #e43e86" />
    <div style="margin:  50px; display: inline-flex; width: 100%; ">
        <div style=" width: 25%; font-family: 'Fira Code Medium',sans-serif">
            @RenderSection("leftMenu")
        </div>
        <div style="display: grid; justify-items: center; align-items: center">
            <div>
                @RenderSection("productList")
            </div>
            <div>
                @RenderSection("pageNumbers")
            </div>
        </div>

    </div>
    @* <div style="display: inline; width: 100%; align-items: center"> *@
    @*     <label>ilość produktów na stronie</label><button>6</button><button>9</button><button>12</button> *@
    @*     </div> *@
</div>

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)