@model HappyDogShop2.Models.Product

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Szczegóły:</h4>
    <hr style="height: 1px; background-color: #e43e86; color: #e43e86" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHidden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockCount)
        </dd>
        
        <dd>
            @Html.DisplayFor(model => model.ReleasedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ProductId}) |
    @Html.ActionLink("Wróć", "Index")
</p>
