@model PagedList.IPagedList<HappyDogShop2.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using System.Collections
@using HappyDogShop2.Models

@{
    ViewBag.Title = "UserIndex";
    Layout = "_ProductLayout.cshtml";
    ViewBag.NewProducts = Model.OrderByDescending(product => product.ProductId).Take(10).ToList();
    
}

<h4>Produkty:</h4>

@section leftMenu
{
    <div style="width: 80%; margin: 50px auto ; background-color: #f7e6cf; padding: 20px">

        <h2>@Html.ActionLink("wszystko", "UserIndex", new { categoryId = -1 })</h2>

        <h2>@Html.ActionLink("nowości", "UserIndex", new { categoryId = -2 })</h2>

        <h2>@Html.ActionLink("promocje", "UserIndex", new { categoryId = -3 })</h2>

        <h2>kategorie</h2>
        @foreach (var c in (IEnumerable<Category>)ViewData["categories"])
        {
        if (c.Parent == null && c.IsHidden == false)
        {
            <h2>@Html.ActionLink(@c.Name, "UserIndex", new { categoryId = c.CategoryId })</h2>
           foreach (var item in (IEnumerable<Category>) ViewData["categories"])
           {
               if (c.CategoryId == item.ParentId && item.IsHidden == false)
               {
               <h3 style="color: #1b6d85"> > @Html.ActionLink(@item.Name, "UserIndex", new { categoryId = item.CategoryId })</h3>
               foreach (var item2 in (IEnumerable<Category>) ViewData["categories"])
               {
                   if (item.CategoryId == item2.ParentId && item2.IsHidden == false)
                   {
                       <h4 style="color: #e43e86">  > @Html.ActionLink(@item2.Name, "UserIndex", new { categoryId = item2.CategoryId })</h4>
                       foreach (var item3 in (IEnumerable<Category>) ViewData["categories"])
                       {
                           if (item2.CategoryId == item3.ParentId && item3.IsHidden == false)
                           {
                               <h5 style="color: #3c3c3c">   > @Html.ActionLink(@item3.Name, "UserIndex", new { categoryId = item3.CategoryId })</h5>
                           }
                       }
                   }
               }
               }
           }
        }
    }
        
    </div>
}
@section productList {

    <div style="width: 100%; margin: 0 auto auto; display: grid; grid-template-columns: 250px 250px 250px;
                                             grid-template-rows: 400px; 
                                             column-gap: 10px;
                                             row-gap: 15px; justify-items: center">
        @foreach (var item in Model)
        {
            if (item.IsHidden == false && item.Category.IsHidden == false )
            {
                <div style="text-align: center; padding: 10px">
                    <h2 style="height: 60px">@Html.ActionLink(@item.Name, "UserDetails", new { id = item.ProductId})</h2>
                    @foreach (var media in (IEnumerable<MediaType>) ViewData["media"])
                    {
                        if (@item.MediaTypeId == media.MediaTypeId)
                        {
                            <img style="height: 150px" src="@media.ImagePath"/>
                        }
                    }
                
                    <h3>
                        cena: @item.Price
                    </h3>
       
                    @* <input type="submit" value="Dodaj do koszyka" class="btn btn-default" style=" border-color: #e43e86" onclick=""/> *@
                    <button class="btn btn-default" style=" border-color: #e43e86">@Html.ActionLink("Dodaj do koszyka", "Create2", "CartItem", new { Quantity = 1, ProductId = item.ProductId, OrderID = @Session["orderId"]}, new {})</button>
                </div>
            }
        }  
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("UserIndex", 
             new { page }))

    </div>
}

       

