@model HappyDogShop2.Models.Product

@{
    
}


<div>
    <h4>Szczegóły:</h4>

    <hr style="height: 1px; background-color: #e43e86; color: #e43e86" />

    <div style="display: grid; width: 100%; grid-template-columns: 70% 30%;
                     grid-template-rows: 50px 500px; row-gap: 15px; justify-items: center">    
        <h1 style="color: #e43e86">@Model.Name</h1>
        <h2>@Model.Price zł</h2>
        <img src="@Model.MediaType.ImagePath"/>
        <h2>@Model.Description</h2>
        @if (@Model.Sale.Name != null)
        {
            <h3>@Model.Sale.Name  @Model.Sale.ValueInPercent %</h3>
        }
        else
        {
            <h3>brak aktualnej promocji na ten produkt</h3>
        }
        <h3>Ilość w magazynie: @Model.StockCount</h3>
    </div>


</div>
<p>
    @Html.ActionLink("Wróć", "UserIndex")
</p>
