@model PagedList.IPagedList<HappyDogShop2.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using System.Collections
@using System.Collections.Specialized
@using HappyDogShop2.Models

@{
    ViewBag.Title = "UserIndex";
    Layout = "_ProductLayout.cshtml";
    ViewBag.NewProducts = Model.OrderByDescending(product => product.ProductId).Take(10).ToList();
    
}

<h4>Produkty:</h4>
@section sales {
    <div style="display: grid; grid-template-columns: 400px 350px 400px; grid-template-rows: 200px; column-gap: 10px; row-gap: 15px;
                 justify-items: center;  align-items: center; text-align: center;">
            <div>
                <img style="height: 150px" src="https://lillypetshop.pl/1076-big_default/organiczna-pilka-rainbow-green.jpg">
            </div>
            <div>
                <h3>@Html.ActionLink("Skorzystaj z naszych promocji", "Contact", "Home")</h3>
            </div>
            <div>
                <img style="height: 150px"  src="https://lillypetshop.pl/950-thickbox_default/royal-nap-legowisko-dla-sredniego-i-duzego-psa-silver-grey.jpg">
            </div>
        </div>
}

@section leftMenu
{
    @* <div style="width: 80%; margin: 50px auto ; background-color: #f7e6cf; padding: 20px"> *@

        <p  style="color: #e43e86" >@Html.ActionLink("wszystko", "UserIndex", new { categoryId = -1 })</p>

        <p>@Html.ActionLink("nowości", "UserIndex", new { categoryId = -2 })</p>

        <p>@Html.ActionLink("promocje", "UserIndex", new { categoryId = -3 })</p>
    
        @foreach (var c in (IEnumerable<Category>)ViewData["categories"])
        {
        if (c.Parent == null && c.IsHidden == false)
        {
            <p>@Html.ActionLink(@c.Name, "UserIndex", new { categoryId = c.CategoryId })</p>
           foreach (var item in (IEnumerable<Category>) ViewData["categories"])
           {
               if (c.CategoryId == item.ParentId && item.IsHidden == false)
               {
               <p style="margin-left: 20px">@Html.ActionLink(@item.Name, "UserIndex", new { categoryId = item.CategoryId })</p>
               foreach (var item2 in (IEnumerable<Category>) ViewData["categories"])
               {
                   if (item.CategoryId == item2.ParentId && item2.IsHidden == false)
                   {
                       <p  style="margin-left: 40px"> @Html.ActionLink(@item2.Name, "UserIndex", new { categoryId = item2.CategoryId })</p>
                       foreach (var item3 in (IEnumerable<Category>) ViewData["categories"])
                       {
                           if (item2.CategoryId == item3.ParentId && item3.IsHidden == false)
                           {
                               <p  style="margin-left: 60px">@Html.ActionLink(@item3.Name, "UserIndex", new { categoryId = item3.CategoryId })</p>
                           }
                       }
                   }
               }
               }
           }
        }
    }
        
    @* </div> *@
}
@section productList {

    
    <div style="width: 100%; margin: 0 auto auto; display: grid; grid-template-columns: 250px 250px 250px;
                                             grid-template-rows: 400px; 
                                             column-gap: 10px;
                                             row-gap: 15px; justify-items: center">
        @foreach (var item in Model)
        {
            if (item.IsHidden == false && item.Category.IsHidden == false )
            {
                <div style=" background: rgba(230,95,140,0.13);text-align: center; padding: 10px">
                    
                    @foreach (var media in (IEnumerable<MediaType>) ViewData["media"])
                    {
                        if (@item.MediaTypeId == media.MediaTypeId)
                        {
                            <img style="height: 150px" src="@media.ImagePath"/>
                        }
                    }
                    <h2>@Html.ActionLink(@item.Name, "UserDetails", new { id = item.ProductId})</h2>
                
                    <h5>
                        cena: @item.Price zł
                    </h5>
       
                    @* <input type="submit" value="Dodaj do koszyka" class="btn btn-default" style=" border-color: #e43e86" onclick=""/> *@
                    <button class="btn btn-default" style=" border-color: #e43e86">@Html.ActionLink("Dodaj do koszyka", "Create2", "CartItem", new { Quantity = 1, ProductId = item.ProductId, OrderID = @Session["orderId"]}, new {})</button>
                </div>
            }
        }  


    </div>
    <div style="display: block; align-items: center; justify-content: center">
        <div>
        </div>
        <div>
              </div>

    </div>
}

@section pageNumbers
{
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("UserIndex",
                              new {page}))
              
}
       

