@model PagedList.IPagedList<HappyDogShop2.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using System.Collections
@using System.Collections.Specialized
@using HappyDogShop2.Models

@{
    ViewBag.Title = "UserIndex";
    Layout = "_ProductLayout.cshtml";
    ViewBag.NewProducts = Model.OrderByDescending(product => product.ProductId).Take(10).ToList();
    
}

<h4>Produkty:</h4>
@section sales {
    <p style="background: #1b6d85; color: white; margin: 25px auto"> Zapraszamy do zakupu naszych produktów! </p>
            @* @foreach (Sale sale in (IEnumerable<Sale>) ViewData["saleList"]) *@
            @* { *@
            @*     <p style="margin: 25px auto">@sale.Name  @sale.ValueInPercent%  </p> *@
            @*     <p> do @sale.EndDate</p> *@
            @* } *@
            @* <div style="background: #1b6d85; color: white"> *@
            @*     <p style="margin: 25px auto" >Zobacz nasze promocje</p> *@
            @* </div> *@
}

@section leftMenu
{
    @* <div style="width: 80%; margin: 50px auto ; background-color: #f7e6cf; padding: 20px"> *@

        <p  style="color: #e43e86" >@Html.ActionLink("wszystko", "UserIndex", new { categoryId = -1 })</p>

        <p>@Html.ActionLink("nowości", "UserIndex", new { categoryId = -2 })</p>

        <p>@Html.ActionLink("promocje", "UserIndex", new { categoryId = -3 })</p>
    
        @foreach (var c in (IEnumerable<Category>)ViewData["categories"])
        {
        if (c.Parent == null && c.IsHidden == false)
        {
            <p>@Html.ActionLink(@c.Name, "UserIndex", new { categoryId = c.CategoryId })</p>
           foreach (var item in (IEnumerable<Category>) ViewData["categories"])
           {
               if (c.CategoryId == item.ParentId && item.IsHidden == false)
               {
               <p style="margin-left: 20px">@Html.ActionLink(@item.Name, "UserIndex", new { categoryId = item.CategoryId })</p>
               foreach (var item2 in (IEnumerable<Category>) ViewData["categories"])
               {
                   if (item.CategoryId == item2.ParentId && item2.IsHidden == false)
                   {
                       <p  style="margin-left: 40px"> @Html.ActionLink(@item2.Name, "UserIndex", new { categoryId = item2.CategoryId })</p>
                       foreach (var item3 in (IEnumerable<Category>) ViewData["categories"])
                       {
                           if (item2.CategoryId == item3.ParentId && item3.IsHidden == false)
                           {
                               <p  style="margin-left: 60px">@Html.ActionLink(@item3.Name, "UserIndex", new { categoryId = item3.CategoryId })</p>
                           }
                       }
                   }
               }
               }
           }
        }
    }
        
    @* </div> *@
}
@section productList {

    <div style="width: 100%; margin: 0 auto auto; display: grid; grid-template-columns: 250px 250px 250px;
                                             grid-template-rows: 400px; 
                                             column-gap: 10px;
                                             row-gap: 15px; justify-items: center">
        @foreach (var item in Model)
        {
            if (item.IsHidden == false && item.Category.IsHidden == false )
            {
                <div style="text-align: center; padding: 10px">
                    <h2 style="height: 60px">@Html.ActionLink(@item.Name, "UserDetails", new { id = item.ProductId})</h2>
                    @foreach (var media in (IEnumerable<MediaType>) ViewData["media"])
                    {
                        if (@item.MediaTypeId == media.MediaTypeId)
                        {
                            <img style="height: 150px" src="@media.ImagePath"/>
                        }
                    }
                
                    <h3>
                        cena: @item.Price
                    </h3>
       
                    @* <input type="submit" value="Dodaj do koszyka" class="btn btn-default" style=" border-color: #e43e86" onclick=""/> *@
                    <button class="btn btn-default" style=" border-color: #e43e86">@Html.ActionLink("Dodaj do koszyka", "Create2", "CartItem", new { Quantity = 1, ProductId = item.ProductId, OrderID = @Session["orderId"]}, new {})</button>
                </div>
            }
        }  
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("UserIndex", 
             new { page }))

    </div>
}

       

