@using HappyDogShop2.Models
@model IEnumerable<HappyDogShop2.Models.CartItem>
@{
    ViewBag.Title = "CartUserIndex";
}

<h4>Twoje zamówienie:</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayName("Nazwa produktu")
        </th>
        <th>
            @Html.DisplayName("Cena produktu")
        </th>
        <th>
            @Html.DisplayName("Media")
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        @foreach (Product product in (IEnumerable<Product>) ViewData["products"])
        {
            if (item.ProductId == product.ProductId){
            }
            <td>
                @Html.Display(product.Name)
            </td>
            <td>
                @Html.Display(product.Price.ToString())
            </td>
            <td>
                @Html.Display(product.MediaTypeId.ToString())
            </td>
            }
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ItemId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ItemId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ItemId })
        </td>
    </tr>
}

</table>
