@using HappyDogShop2.Models
@model IEnumerable<HappyDogShop2.Models.CartItem>
@{
    ViewBag.Title = "CartUserIndex";
}

<h4 style="width: 70%; margin: 15px auto">Twoje zamówienie:  @ViewBag.orderId @Session["OrderId"]</h4>

<table style="width: 70%; margin: 0 auto" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayName("Nazwa produktu")
        </th>
        <th>
            @Html.DisplayName("Cena produktu")
        </th>
        @* <th> *@
        @*     @Html.DisplayName("Media") *@
        @* </th> *@

    </tr>

    @foreach (var item in Model) {
        <tr>
            <td style="width: 100px">
                @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            @foreach (Product product in (IEnumerable<Product>) ViewData["products"])
            {
                if (item.ProductId == product.ProductId)
                {
                    <td style="width: 200px">
                        @product.Name
                    </td>
                    <td style="width: 100px">
                        @product.Price.ToString()
                    </td>
                    <td style="width: 100px">
                        @foreach (var media in (IEnumerable<MediaType>) ViewData["media"])
                        {
                            if (@product.MediaTypeId == media.MediaTypeId)
                            {
                                <img style="height: 50px" src="@media.ImagePath"/>
                            }
                        }
                    
                    </td>
                }
           
            }
            <td>
                @* @Html.ActionLink("Edytuj", "Edit", new { id=item.ItemId }) | *@
                @Html.ActionLink("Szczegóły", "Details", new { id=item.ItemId }) |
                @Html.ActionLink("Usuń", "Delete", new { id=item.ItemId })
            </td>
        </tr>

    }
    <tr>
        <td>
            
        </td>
        <td style="padding-left: 150px">
            Suma:
        </td>
        <td >
            @ViewBag.sum
        </td>
        <td colspan="2" style="padding-left: 110px">

            @Html.ActionLink("Złóż zamówienie", "Index")
        </td>
    </tr>
</table>
<div>
    @Html.ActionLink("Wróć", "Index")
</div>
