@model HappyDogShop2.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h4>Czy jesteś pewien, że chcesz usunąć tę kategorię?</h4>
<div>
    <hr style="height: 1px; background-color: #e43e86; color: #e43e86" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_hidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_hidden)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" style="margin-left: 215px; border-color: #e43e86" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
